

.db-tablegroup {
  pointer-events: none;

  &__background {
    fill: var(--table-group-color);
    stroke: var(--table-group-stroke-color);
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-opacity: 0.6;
  }

  &-header {
    pointer-events: all;
    fill: none;

    rect {
      &:not([fill]), &[fill="undefined"]{
        fill: var(--table-group-color);
      }
    }

    &__color-icon {
      pointer-events: all;
    }

    &__icon-bg {
      cursor: pointer !important;
    }

    &__icon {
      fill: var(--table-header-fg-color);
      pointer-events: none;
    }

    &__name {
      fill: var(--table-group-name-color);
      transform: translateX(10px) translateY(.35em);
      font-weight: 700;
      font-size: 14px;
      pointer-events: none;
    }

    &__separator {
      stroke: var(--table-group-stroke-color);
    }
  }
}
