.db-tooltip {
  width: 100%;
  height: 100%;
  x: 0;
  y: 0;
  z-index: 1000;

  &__content {
    width: 100%;
    height: 100%;
    pointer-events: none;
    transform: translate(10px, 0);

    &-card {
      width: fit-content;
      height: fit-content;
      min-width: 10rem;
    }
  }
  &__colorblock{
    display: flex;
    pointer-events: visible;
    background: var(--chart-bg-color);
    align-items: center;
    justify-content: center;
    height: 1.7em;
    width: 1.7em;
    border-radius: 1em;
    z-index: 1000;
  }
  &__colorblock-default{
    background: var(--table-header-color);
  }
}

.db-tooltip_panel{
  pointer-events: all;
  &__list{
    pointer-events: visible;
  }
}

.db-tip-highlights{
  x: 0;
  y: 0;
  width: fit-content;
  pointer-events: none;
  display: block;

  .db-index-tip{
    display: flex;
    flex-direction: row;
  }
  
  .enum-value{
    display: block;
    
  }
  .enum-class{
    color: #CA4242;
  }
  .enum-type{
    color: #79AD51;
    font-weight: 700;
  }
  .general-type{
    color: #EB801B;
  }
  .enum-value_tab{
    width:20px;
  }
  .enum-value_name{
    color: #A15CF5;
  }
  .enum-value_note{
    height: 0.8em;
    font-size: 0.8em;
    
    text-wrap: nowrap;
    color: #DE65C3;
  }
}
